/* ////////////////////////////////////////// */
/*------------- MAIN SECTION ----------------*/
/* ///////////////////////////////////////// */

.navigation {
  background-color: #fcf3e8;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;
}

.main-section {
  background-color: #fcf3e8;
  position: relative;
}

.main-nav--list {
  display: flex;
  flex-direction: row;
  gap: 3.2rem;
  list-style: none;
  align-items: center;
  justify-content: end;
  padding: 2.4em;
}

.omnifood-icon {
  display: inline;
  position: absolute;
  top: 4em;
  left: 3em;
}

.main-nav--list--link:link,
.main-nav--list--link:visited {
  font-size: 1.8rem;
  color: #3a3a3a;
  text-decoration: none;
  letter-spacing: -0.1px;
  font-weight: 600;
  transition: all 0.3s;
}

.main-nav--list--link:hover,
.main-nav--list--link:active {
  color: #db6b0e;
}

.main-presentation--img {
  width: 95%;
}

.omnifood-icon-img {
  width: 16rem;
}

.main-presentation--title {
  font-size: 5.2rem;
  margin-bottom: 3.2rem;
}

.main-presentation--text {
  font-size: 2rem;
  line-height: 1.8;
  color: #4a4a4a;
  margin-bottom: 3.2rem;
  margin-right: 2.4rem;
}

.btns {
  display: flex;
  margin-bottom: 6.4rem;
}

.learn-more-btn:link,
.learn-more-btn:visited {
  color: #4a4a4a !important;
  background-color: #ffff;
  margin-left: 1.6rem;
  display: inline-block;
}

.btn:hover.learn-more-btn,
.btn:active.learn-more-btn {
  background-color: #fcf3e8;
  box-shadow: inset 0 0 0 3px #ffff;
}

.motivated-info {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.customer--imgs {
  display: flex;
}

.customer--img {
  width: 4.8rem;
  border-radius: 100%;
  border: 3px solid #fcf3e8;
  margin-left: -1.5em;
}

.motivated-info--text {
  font-size: 1.8rem;
  font-weight: 500;
  color: #4a4a4a;
  letter-spacing: -0.1px;
}

.motivated-info--text span {
  color: #db6b0e;
}

/* ////////////////////////////////////////// */
/*------------- CLIENTS SECTION ----------------*/
/* ///////////////////////////////////////// */

.client-section {
  margin-top: 5.2rem;
  margin-bottom: 4.8rem;
}

.client-title {
  text-align: center;
  margin-bottom: 3.2rem;
  color: #8c8c8c;
  font-size: 1.5rem;
}

.client-icons {
  display: flex;
  justify-content: space-around;
}

.client-icon {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/* ////////////////////////////////////////// */
/*------------- HOW IT WORKS SECTION --------*/
/* ///////////////////////////////////////// */

.how-it-works--step--number {
  font-size: 9.6rem;
  font-weight: 600;
  color: #bfbfbf;
  margin-bottom: 1.6rem;
}

.how-it-works--step--text {
  font-size: 1.8rem;
  line-height: 1.8;
}

.how-it-works--step--img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.how-it-works--step--img-container::before {
  content: "";
  width: 70%;
  padding-bottom: 70%;
  border-radius: 50%;
  position: absolute;
  background-color: #f9e6cf;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.how-it-works--step--img-container::after {
  content: "";
  width: 90%;
  padding-bottom: 90%;
  border-radius: 50%;
  position: absolute;
  background-color: #fcf3e8;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}

.how-it-works--step--img {
  width: 48%;
}

/* ////////////////////////////////////////// */
/*---------------- MEALS SECTION -------------*/
/* ///////////////////////////////////////// */

.meal-container {
  display: grid;
  grid-template-columns: 2fr 2fr 3fr;
  gap: 6.4rem;
}

.meal-card {
  width: 80%;
  border-radius: 1.2rem;
  box-shadow: 0 1.2rem 2.4rem rgb(0, 0, 0, 0.4);
  overflow: hidden;
}

.meal-img {
  width: 100%;
}

.food-example-info {
  padding: 3.2rem 5.2rem 5.2rem 5.2rem;
}

.diet-disagnation-list {
  display: flex;
  column-gap: 0.8rem;
}

.diet-disagnation {
  width: max-content;
  padding: 0.5rem 1rem;
  border-radius: 1.2rem;
  margin-bottom: 1.4rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.color-green {
  background-color: rgb(63, 226, 63);
}

.color-light-green {
  background-color: rgb(129, 203, 129);
}

.color-yellow {
  background-color: rgba(255, 240, 34, 0.986);
}

.dish-name {
  font-size: 2.4rem;
  font-weight: 600;
  text-align: left;
  margin-bottom: 3.2rem;
}

.diet-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 4.8rem;
  text-align: left;
}

.food-discription {
  font-size: 1.8rem;
}

.food-discription span {
  font-weight: 500;
}

.all-recipes:link,
.all-recipes:visited {
  display: inline-block;
  margin-top: 4.8rem;
  color: #f18024;
  font-size: 1.8rem;
}

.all-recipes:hover,
.all-recipes:active {
  text-decoration: none;
}

/* ////////////////////////////////////////// */
/*------------- TESTIMONIALS SECTION ---------*/
/* ///////////////////////////////////////// */

.testimonial-section {
  background-color: #fcf3e8;
  padding: 4.8rem 0rem 4.8rem 9.6rem;
}

.testimonial--img {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 10rem;
}

.testimonial--text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin: 1.6rem 0;
  padding-right: 3.2rem;
}

.testimonial--author {
  font-size: 1.6rem;
  color: #4a4a4a;
}

.grid-gap-for-gallery {
  row-gap: 1.6rem;
  column-gap: 1.6rem;
}

.gallary-img {
  display: inline-block;
  overflow: hidden;
}

.gallary-img {
  width: 100%;
  transition: 0.3s;
  display: block;
}

.gallary-img img:hover {
  transform: scale(1.2);
}

/* ////////////////////////////////////////// */
/*------------- PRICING SECTION ---------*/
/* ///////////////////////////////////////// */
.plan {
  border-radius: 12px;
  padding: 4.8rem;
  width: 70%;
}

.plan-starter {
  border: 2px solid #fcf3e8;
}

.plan-complete {
  background-color: #fcf3e8;
  position: relative;
  overflow: hidden;
}

.plan-name {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #db6b0e;
  letter-spacing: 0, 5px;
  margin-bottom: 3.2rem;
  text-align: center;
}

.plan-price {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 2.4rem;
}

.plan-text {
  font-size: 1.6rem;
  text-align: center;
  color: #7e7e7e;
  margin-bottom: 3.2rem;
}

.plan-price span {
  font-size: 6.2rem;
}

.additional-plan-info {
  font-size: 1.6rem;
  text-align: center;
  margin-top: 4.8rem;
  margin-bottom: 8rem;
}

.benefits {
  width: 88%;
}

.benefits-title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-top: 3.2rem;
  margin-bottom: 1.8rem;
}

.benefits-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.list-item--name span {
  font-weight: 600;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 2.4rem;
}

.best-value-ad {
  position: absolute;
  top: 4rem;
  right: -6rem;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 0.8rem 6.4rem;
  text-transform: uppercase;
  background-color: rgba(206, 193, 8, 0.986);
  transform: rotate(45deg);
}

/* ////////////////////////////////////////// */
/*------------- CTA SECTION ---------*/
/* ///////////////////////////////////////// */

.cta-section {
  margin-top: -4.8rem;
}

.cta-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #f28d3a;
  border-radius: 12px;
  overflow: hidden;
}

.cta-form {
  padding: 5.2rem 4.8rem 0rem 8rem;
  margin-bottom: 4.8rem;
}

.cta-form--title {
  font-size: 4.4rem;
  font-weight: 600;
  padding-bottom: 3.2rem;
}

.cta-form--text {
  font-size: 1.8rem;
  line-height: 1.8;
  padding-bottom: 4.8rem;
}

.cta-form--field {
  width: 100%;
}

.cta-form--input {
  height: 4.5rem;
  width: 100%;
  border-radius: 6px;
  font-size: 1.8rem;
  border: none;
  padding-left: 1.2rem;
}

.cta-form--field-name {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 1.2rem;
}

.select-input {
  background-color: #48260b;
  color: #ffff;
  font-weight: 700;
  transition: all 0.3s;
  font-size: 2rem;
}

.select-input:hover {
  background-color: #ffff;
  color: #4a4a4a;
}

.img-container {
  background-image: url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.7;
}

/* ////////////////////////////////////////// */
/*------------- FOOTER SECTION ---------*/
/* ///////////////////////////////////////// */

.divider {
  border-top: 0.5px solid rgb(225, 225, 225);
}

.footer {
  display: grid;
  grid-template-columns: 3fr 3fr 2fr 2fr 2fr;
}

.logo-copyright-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-omnifood--img {
  display: block;
  width: 16rem;
  margin-bottom: 3.2rem;
}

.logo-social-net-icon {
  width: 2.2rem;
  height: 2.2rem;
  margin-right: 2.4rem;
  color: #717171;
}

.copyright-info {
  font-size: 1.4rem;
  color: #7e7e7e;
}

.footer-info--title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #717171;
  margin-bottom: 2.4rem;
}

.footer-info--text {
  font-size: 1.6rem;
  color: #7e7e7e;
  text-decoration: none;
}

.footer-info--list {
  line-height: 2.4;
}

.footer-info--address {
  font-style: italic;
  margin: 4rem 0 3.2rem 0;
  line-height: 1.6;
}

.footer-info--phone {
  margin-bottom: 1rem;
}

dt {
  margin-top: -1.2rem;
}
